{% extends 'base.html' %}

{% block contents %}
{% load hitcount_tags %}
<main>

<!-- =======================
Inner intro START -->
<section class="pt-4">
	<div class="container">
		<div class="row">
      <div class="col-12">
        <!-- Author info START -->
				<div class="bg-primary-soft d-md-flex p-3 p-sm-4 my-3 text-center text-md-start rounded">
					<!-- Avatar -->
				  <div class=" me-0 me-md-4">
					  {% if not author_data.userprofile.image %}
					   <div class="avatar avatar-xxxl">
							<img  class="avatar-img rounded-circle" src="/static/assets/images/avatar.jpeg" alt="avatar">
						</div>
					  {% else %}
					  <div class="avatar avatar-xxl">
						  <img class="avatar-img rounded-circle border border-3 border-dark" src="{{author_data.userprofile.image.url}}" alt="avatar">
						</div>
					  {% endif %}
					<!-- Post count -->
					<div class="text-center mt-n3 position-relative">
					  <span style="color:black;" class="badge bg-success fs-6">
						  {% if author_publication.count < 2 %}
						  	{{author_publication.count}}
						  		publication
						    {%elif author_publication.count == 0 %}
								No publication yet
						   	{%else%}
						   		{{author_publication.count}}
						  		publications
						  {% endif%}
					  </span>
					</div>
				  </div>
					<!-- Info -->
				<div>
            <h2 class="m-0">{{author_data.userprofile.get_fullname}}</h2>
            <small>{% if not author_data.userprofile.profession%}{%else%}{{author_data.userprofile.profession}}{%endif%}</small>
				<p class="my-2">{% if not author_data.userprofile.about%}{%else%}{{author_data.userprofile.about}}{%endif%}</p>
				<!-- Social icons -->
				<ul class="nav justify-content-center justify-content-md-start">
					<li class="nav-item">
						<a class="nav-link ps-0 pe-2 fs-5" href="{% if not author_data.userprofile.facebook_link%}#{% else%}{{author_data.userprofile.facebook_link}}{%endif%}"><i class="fab fa-facebook-square"></i></a>
					</li>
					<li class="nav-item">
						<a class="nav-link px-2 fs-5" href="{% if not author_data.userprofile.tweeter_link%}#{% else%}{{author_data.userprofile.tweeter_link}}{%endif%}"><i class="fab fa-twitter-square"></i></a>
					</li>
					<li class="nav-item">
						<a class="nav-link px-2 fs-5" href="{% if not author_data.userprofile.linkedin_link%}#{% else%}{{author_data.userprofile.linkedin_link}}{%endif%}"><i class="fab fa-linkedin"></i></a>
					</li>
					<li class="nav-item">
						<a class="nav-link px-2 fs-5" href="{% if not author_data.userprofile.github_link%}#{% else%}{{author_data.userprofile.github_link}}{%endif%}"><i class="fab fa-github"></i></a>
					</li>
				</ul>

				<ul class ="nav justify-content-center justify-content-md-start">
					<form id="form" method="POST">
						{%csrf_token%}
						<input type ="text", hidden name = 'username' value="{{author_data.username}}"/>

					<button style ="width: 185.3px;" type="submit" id='btn_follow_unfollow' class="btn btn-outline-primary " href="">Follow</button>

					</form>
				</ul>
				<ul class ='nav justify-content-center justify-content-md-start'>
					<li  class="nav-item">
						<a href="#" class="badge bg-primary-soft text-secondary btn btn-outline-primary">Following <span id ="following">0</span></a>
						<a href="#" class="badge bg-secondary-soft text-secondary btn btn-outline-primary">Followers <span id="followers">0</span></a>

					</li>
				</ul>
			</div>
		</div>
				<!-- Author info END -->
      </div>
    </div>
	</div>
</section>
<!-- =======================
Inner intro END -->

<!-- =======================
Main content START -->
<section class="position-relative pt-0">
	<div class="container">
		<div class="row">
      <div class="col-12 mb-3">
        <h2>The Latest from {{author_data.get_fullname}} </h2>
      </div>
			<!-- Main Post START -->
			<div class="col-12">
				<div class="row gy-4">
					<!-- Card item START -->
					{% for publication in page_obj %}
					<div class="col-sm-6 col-lg-4">
						<div class="card">
							<!-- Card img -->
							<div class="position-relative">
								<img style="object-fit: cover; height:200px; width:500px;" class="card-img" src="{{publication.image.url}}" alt="Card image">
								<div class="card-img-overlay d-flex align-items-start flex-column p-3">
									<!-- Card overlay bottom -->
									<div class="w-100 mt-auto">
										<!-- Card category -->
										<a href="#" class="badge bg-warning mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>{{publication.topic.title}}}</a>
									</div>
								</div>
							</div>
							<div class="card-body px-0 pt-3">
								<h4 class="card-title"><a href="{% url 'publication_details' publication.slug %}" >{{publication.title|safe}}</a></h4>
								<p class="card-text">{{publication.short_description|truncatechars:200}}</p>
								<!-- Card info -->
								<ul class="nav nav-divider align-items-center d-none d-sm-inline-block">
									<li class="nav-item">{{publication.created_on|timesince}} ago</li>
									<li class="nav-item">{% get_hit_count for publication %} <i class="fa fa-eye"> Views </i></li>
                                    <!--<li class="nav-item">Jan 22, 2021</li>-->
								</ul>
							</div>
						</div>
					</div>
					 {% empty %}
					<div class="alert alert-info" role="alert">
						No publication yet.
					</div>

					{% endfor%}
					<!-- Card item END -->
					<!-- Load more START -->
					<nav aria-label="Page navigation example">
					  <ul class="pagination">
						<div class="pagination">
							<span class="step-links">
								{% if page_obj.has_previous %}
								<a href="?page=1">&laquo; first</a>
								<a href="?page={{ page_obj.previous_page_number }}">previous</a>
								{% endif %}

								<span class="current">
									Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
								</span>

								{% if page_obj.has_next %}
								<a href="?page={{ page_obj.next_page_number }}">next</a>
								<a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
								{% endif %}
							</span>
						</div>
					  </ul>
				</nav>
					<!-- Load more END -->
				</div>
			</div>
			<!-- Main Post END -->
		</div> <!-- Row end -->
	</div>
</section>
<!-- =======================
Main content END -->

</main>

<script>
let is_followed = false;

$(document).ready(function (event) {

	get_follow_following()
	$('#form').on('submit', function (e) {
		const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
		console.log('clicked')
		e.preventDefault();
		$.ajax({
			type: "POST",
			url: "{% url 'follow_unfollow' author_data.username%}",
			data: {
				//comment: $('#comment').val(),

			csrfmiddlewaretoken: csrftoken,
			dataType: "json",

				},
			success: function (data)

			{ if (data.action == 'follow'){
				get_follow_following()
				$('#btn_follow_unfollow').html('Unfollow')
				$('#btn_follow_unfollow').removeClass('btn-outline-primary').addClass('btn-outline-danger')
			}
			else if (data.action == 'unfollow' ) {
				get_follow_following()
				$('#btn_follow_unfollow').html('Follow  ')
				$('#btn_follow_unfollow').removeClass('btn-outline-danger').addClass('btn-outline-primary')
			}
			else if (data.action == 'selffollow') {

			}
			if (data.message === 'You must login') {
				$('#btn_follow_unfollow').html(data.message)

				}
			},
			failure: function ( data) {

				$('#btn_follow_unfollow').html(data.message)
				console.log(data.message)
			}
		});
	});
});

	function get_follow_following()
	{
		console.log('We can get  infor here')
		$.ajax({
			type: 'GET',
			url: "{% url 'get_follow_following' author_data.username %}",
			success: function (data)
			{
				//var data_set = $.parseJSON(data);

				//console.log(data)
				if (data.following  != undefined) {
					$('#following').html(data.following);
					console.log(data)
				}

				if (data.followers != undefined) {
					$('#followers').html(`${data.followers}`)
				}
				else{
						$('#followers').html(`0`)
				}


				if (data.is_followed){
					$('#btn_follow_unfollow').html('Unfollow')
					$('#btn_follow_unfollow').removeClass('btn-outline-primary').addClass('btn-outline-danger')
				}
				if (data.is_self)
				{
					    $("#btn_follow_unfollow").remove();

				}
			},
			failure: function (data)
			{
				$('#btn_follow_unfollow').html(data.message)


			}
		})
	}
</script>
{% endblock contents %}
