
<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
	<title>intmain</title>
	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Bootstrap based News, Magazine and Blog Theme">

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="{% static 'assets/fontawesome/css/all.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap-icons.css'%}">

	<!-- Theme CSS -->
	<link id="style-switch" rel="stylesheet" type="text/css" href="{% static 'assets/css/style-dark.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/tiny-slider.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/glightbox.css'%}">
	<link rel="stylesheet" href="{% static 'ckeditor/ckeditor/style.css' %}">
	<!-- <link rel="stylesheet" href="{% static 'ckeditor/ckeditor/plugins/line-numbers/prism-line-numbers.css" data-noprefix /> -->
	<link rel="stylesheet" href="{% static 'assets/css/prism.css'%}">
	<script src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script>




	<!-- Theme CSS -->


	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-XZ4W34ZJ0L"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-XZ4W34ZJ0L');
	</script>

</head>

<body>
<div class="preloader">
	<div class="preloader-item">
		<div class="spinner-grow text-primary"></div>
	</div>
</div>
<!-- =======================
Header START -->
<header  class="navbar-light navbar-sticky header-static">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-lg">
		<div class="container">
			<!-- Logo START -->
			<a class="navbar-brand" href="{% url 'home'%}">
				<img class="navbar-brand-item light-mode-item" src="{% static 'assets/images/mylogo.png'%}" alt="logo">
				<img class="navbar-brand-item dark-mode-item" src="{% static 'assets/images/mylogo.png'%}" alt="logo">
			</a>
			<!-- Logo END -->

			<!-- Responsive navbar toggler -->

			<!-- Main navbar START -->
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav navbar-nav-scroll ms-auto">
					<li class="nav-item "><a  class="nav-link  " href="{% url 'search'%}" > <Span> <i class = "fa fa-search"></i></Span></a></li>
					<li class="nav-item "><a  class="nav-link " href="#" > <Span> <i class = "fa fa-bell"></i></Span></a></li>
					<!-- Nav item 4 Mega menu -->
					<li class="nav-item dropdown dropdown-fullwidth">
						<a class="nav-link dropdown-toggle" href="#" id="megaMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Topics</a>
						<div class="dropdown-menu" aria-labelledby="megaMenu">
							<div class="container">

								<div class="row px-3">
									<div class="col-12">
										<ul class="list-inline mt-3">
											<li class="list-inline-item">Trending topics:</li>
											{% for topic in topics%}
											<li class="list-inline-item"><a href="{% url 'topic_items' topic.id %}" class="btn btn-sm btn-{{topic.get_color_display}}-soft">{{topic.title}}</a></li>
											{%endfor%}
										</ul>
									</div>
								</div> <!-- Row END -->
							</div>
						</div>
					</li>


				</ul>
			</div>
			<!-- Main navbar END -->

			<!-- Nav right START -->

			<!-- Nav right END -->

			<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="text-body h6 d-none d-sm-inline-block">Menu</span>
			  <span class="navbar-toggler-icon"></span>
		  </button>
			<div class="nav ms-sm-3 flex-nowrap align-items-center">
				<!-- Dark mode switch -->

				<!-- Nav Button -->
				{% if not user.is_authenticated %}

				<div class="nav-item d-none d-md-block">
					<a href="{% url 'login'%}" class="btn btn-sm btn-default mb-0 mx-2">sign In</a>
				</div>
				{%else%}
				<!-- Nav Search -->
				<div class="nav-item dropdown nav-search dropdown-toggle-icon-none">
					<a class="nav-link pe-0 dropdown-toggle" role="button" href="#" id="navSearch" data-bs-toggle="dropdown"
						aria-expanded="false">
						{% if not request.user.userprofile.image %}

						<div class="avatar">
							<div class="avatar-img rounded-circle bg-primary"><span
									class="text-white position-absolute top-50 start-50 translate-middle fw-bold">{{request.user.getfirstChar}}</span>
							</div>
						</div>
						{% else %}
						<div class="avatar align-middle">
							<img class="avatar-img rounded-circle border border-3 border-dark"
								src="{{request.user.userprofile.image.url}}" alt="avatar">
						</div>
						{% endif %}
					</a>
					<div class="dropdown-menu dropdown-menu-end shadow rounded p-2" aria-labelledby="navSearch">
						<ul class="list-inline mt-3">
							<li class="list-inline-item">{{request.user.firstname}}:</li>
							<li class="list-inline-item"><a href="{% url 'userprofile'%}"
									class="btn btn-sm btn-primary-soft">Profile</a></li>

							<li class="list-inline-item">
								<div class="nav-item">
									<div class="modeswitch" id="darkModeSwitch">
										<div class="switch"></div>
									</div>
								</div>
							</li>
							<li class="list-inline-item"><a href="{% url 'logout'%}" class="btn btn-sm btn-danger-soft">logout</a>
							</li>
						</ul>
					</div>
				</div>
				{%endif%}
			</div>
		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- =======================
Header END -->

<!-- **************** MAIN CONTENT START **************** -->
{% block contents%} {% endblock contents%}
<!-- **************** MAIN CONTENT END **************** -->

<div class="back-top"><i class="fa fa-arrow-up"></i></div>

<!-- =======================
JS libraries, plugins and custom scripts -->

<!-- Bootstrap JS -->

<script src="{% static 'assets/js/bootstrap.bundle.min.js'%}"></script>

<!-- Vendors -->
<script src="{% static 'assets/js/tiny-slider.js'%}"></script>
<script src="{% static 'assets/js/sticky.min.js'%}"></script>
<script src="{% static 'assets/js/glightbox.js'%}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<link rel="stylesheet" href="{% static '/assets/js/prism.js'%}">
<!-- <script src="{% static 'ckeditor/ckeditor/plugins/line-numbers/prism-line-numbers.js"></script>
 -->

<!-- Template Functions -->
<script src="{% static 'assets/js/functions.js'%}"></script>



</body>
</html>