{% extends 'base.html' %}
{% block contents %}
{% load social_share %}


<main>

<!-- =======================
Inner intro START -->

<!-- =======================
Inner intro END -->

<!-- =======================
Main content START -->

<section class="position-relative pt-0">
	<div class="container" data-sticky-container="">
		<div class="row">
			<!-- Main Post START -->
			<div class="col-lg-9">
				<div class="row gy-4">
					{{form.media}}
					<form method="post" enctype="multipart/form-data">

						{% csrf_token%}

<!--						{{form.as_p}}-->


						<div class="mb-3">

							<div class="row">
								<div class="col-md-6">
								<label class="form-label" for="id_topic">Publication topic</label>
								<select class="form-select" id="id_topic" name="topic" aria-label="Default select example">
									{% for name, value in form.fields.topic.choices %}
									<option value="{{name}}">{{value}}</option>
									{% endfor %}
								</select>

								</div>
								<div class="col-md-6">
										<label class="form-label" for="id_title">Title:</label>
										<input class="form-control" type="text" name="title" maxlength="300" required id="id_title">
								</div>
							</div>
							<div class="row mt-3">
								<div class="col-md-6 ">
									<label for="id_image">Choose image</label>
									<input required type="file" class="form-control " name ="image" id="id_image">
								</div>
								<div class="col-md-6 ">
									<label class="form-label" for="id_status">Status:</label>
									<select required class="form-control" name="status" id="id_status">
										<option value="0" selected="">Draft</option>
										<option value="1">Published</option>
									</select>
							</div>
							</div>
							<div class="form-group mt-3 mb-3">
								<label for="id_short_description" >Short Description</label>
								<textarea required class="form-control" name="short_description" id="id_short_description" rows="3"></textarea>
							</div>
						</div>
							<label for="description">The whole content goes here, Again this is place where you can put all of your content and it good place to edit and style your content as you want to make it look more great</label>
							{{form.description}}
							<h5>Optional fields but you can fill one of them</h5>
							{{form.bitBucket_link}}
							{{form.docker_link}}
							{{form.gitlab_link}}
							{{form.github_link}}
						<div class="row">
								<div class="col-md-6">


								</div>
								<div class="col-md-6">
									<div class="col-12 text-center mt-5 right">
										<button type="submit" class="btn btn-primary-soft">post now <i class="bi bi-arrow-down-circle ms-2 align-middle"></i></button>
									</div>
								</div>
							</div>


					</form>



					<!-- Load more END -->
				</div>
			</div>
			<!-- Main Post END -->
			<div class="col-lg-3">
				<div data-sticky="" data-margin-top="80" data-sticky-for="991">
	      			<h4>Popular authors</h4>
					{% for author in popular_author%}
					{% if not author.userprofile.image%}
					<div class="avatar align-middle">
					<div class="avatar-img rounded-circle bg-primary"><span class="text-white position-absolute top-50 start-50 translate-middle fw-bold">{{author.getfirstChar}}</span></div>
					</div>
<!--				<div class="avatar align-middle">-->
<!--					<img class="avatar-img rounded-circle border border-3 border-dark" src="assets/images/avatar/06.jpg" alt="avatar">-->
<!--				</div>-->

					{%else%}
					<div class="avatar mt-3">
						<img class="avatar-img rounded-circle" src="{{author.userprofile.image.url}}" alt="avatar">
					</div>
					{% endif%}
					{% endfor%}
					<!-- Advertisement -->

						<div class="mt-4">
						<div class="col-12 col-sm-6 col-lg-12">
							<h4 class="mt-4 mb-3">Recent Publication</h4>
							<!-- Recent post item -->
							{% for publication in recent_posted_pub%}
							<div class="card mb-3">
								<div class="row g-3">
									<div class="col-4">
										<img class="rounded" src="{{publication.image.url}}" alt="">
									</div>
									<div class="col-8">
										<h6><a href="post-single-2.html" class="btn-link stretched-link text-reset fw-bold">{{publication.title|safe|truncatechars:100}}</a></h6>
										<div class="small mt-1">{{publication.created_on}}</div>
									</div>
								</div>
							</div>
							{%endfor%}
						</div>
					</div>

					<!-- Advertisement -->
					<div class="mt-4">
						<a href="#" class="d-block card-img-flash">
							<img src="" alt="">
						</a>
					</div>
				</div>
			</div>



		</div> <!-- Row end -->
	</div>
</section>
</main>

{% endblock contents%}