{% extends 'base.html' %}

{% load social_share %}
{% load hitcount_tags %}
{% load static %}
{% block contents %}




<main>
<!-- Divider -->
<div class="border-bottom border-primary border-1 opacity-1"></div>

<!-- =======================
Inner intro START -->
<section class="pb-3 pb-lg-5">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<a href="{% url 'topic_items' publication_detail.topic.id %}" class="badge bg-{{publication_detail.topic.get_color_display}} mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>{{publication_detail.topic.title}}</a>
				<h1>{{publication_detail.title|safe}}</h1>
			</div>
			 <p class="lead">{{publication_detail.short_description}}</p>

		</div>
	</div>
</section>
<!-- =======================
Inner intro END -->

<!-- =======================
Main START -->
<section class="pt-0">
	<div class="container position-relative" data-sticky-container="">
		<div class="row">
			<!-- Left sidebar START -->
			<div class="col-lg-2">
				<div class="text-start  mb-5" data-sticky="" data-margin-top="80" data-sticky-for="991" style="">
					<!-- Author info -->
					<div class="position-relative">
						{% if not publication_detail.author.userprofile.image %}
						<div class="avatar avatar-xxxl">
							<img class="avatar-img rounded-circle" src="/static/assets/images/avatar.jpeg" alt="avatar">
						</div>
						{%else%}

						<div class="avatar avatar-xl ">
							<img class="avatar-img rounded-circle" src="{{publication_detail.author.userprofile.image.url}}" alt="avatar">
						</div>
						{%endif%}

						<a href="{% url 'author_page' publication_detail.author.username publication_detail.author.id %}" class="h5 stretched-link mt-2 mb-0 d-block">{{publication_detail.author.get_fullname}}</a>
						<p>{% if not publication_detail.author.userprofile.profession%}{%else%}{{publication_detail.author.userprofile.profession}}{%endif%}</p>
						<ul class="list-inline text-primary-hover mt-0 mt-lg-3">
							  <li class="list-inline-item">
								<a class="text-body" href="#">{% if not publication_detail.author.userprofile.bio%}{%else%}{{publication_detail.author.userprofile.bio}}{%endif%}</a>
							  </li>

						</ul>
					</div>
					<hr class="d-none d-lg-block">
					<!-- Card info -->
					<ul class="nav nav-divider  align-items-center">
						<li class="nav-item">{{publication_detail.created_on|timesince}}</li>
<!--						<li class="nav-item">5 min read</li>-->
						<li class="nav-item">   <i class="far fa-eye me-1"> </i> {% get_hit_count for publication_detail %} views  </li>
					</ul>

					<!-- Tags -->

				</div>
			</div>
			<!-- Left sidebar END -->
			<!-- Main Content START -->
			<div class="col-lg-7 mb-5">
      			<p>{{publication_detail.description|safe}}</p>


				<div class="row px-3">

					<div class="col-12">
						<ul class="list-inline mt-3">
							<li class="list-inline-item">Source code on:</li>

							<li class="list-inline-item"><a href="{% if not publication_detail.github_link %}# {% else %}{{publication_detail.github_link}}{% endif%}" class="btn btn-sm btn-primary-soft">GitHub</a></li>
							<li class="list-inline-item"><a href="{% if not publication_detail.gitlab_link %}# {% else %}{{publication_detail.gitlab_link}}{% endif%}" class="btn btn-sm btn-warning-soft">GitLab</a></li>
							<li class="list-inline-item"><a href="{% if not publication_detail.docker_link %}# {% else %}{{publication_detail.docker_link}}{% endif%}" class="btn btn-sm btn-success-soft">DockerHub image</a></li>
							<li class="list-inline-item"><a href="{% if not publication_detail.bitbucket_link %}# {% else %}{{publication_detail.bitbucket_link}}{% endif%}" class="btn btn-sm btn-primary-soft">Bitbucket</a></li>
						</ul>
					</div>
				</div>
				<div>

					<form id="form" method="POST">
						{%csrf_token%}
						<textarea name="comment" cols="100" rows="3" class="form-control " placeholder="Write your comment here..." required=""
							id="comment"></textarea>
					<div class= "row mt-3">
						<div class="col-md-8"></div>
						<div class="col-md-3">
							<input type="submit" class="btn btn-sm btn-primary-soft" name="submit" value="submit">
					</div>


				</div>
					</form>
					<!-- <div id="output">

					</div> -->

				<h3 id='comment_title'></h3>
					<!-- Comment level 1-->
					<div class="comment-list"></div>

					</div>
						<!-- Comment children level 2 -->

				<!-- Reply END -->
			</div>
			<!-- Main Content END -->

			<!-- Right sidebar START -->
			<div class="col-lg-3">
				<div data-sticky="" data-margin-top="80" data-sticky-for="991" >
	      		<h4>Share this article</h4>
					<ul class="nav  mt-2">
						<a href=""></a>

						<li class="nav-item">
							{% post_to_twitter "{{publication_detail.title}}. Check it out!" object_or_url 'Twitter' %}
						</li>
					</ul>
					<div class="mt-4">
						<div class="col-12 col-sm-6 col-lg-12">
							<h4 class="mt-4 mb-3">Recent Publication</h4>
							<!-- Recent post item -->
							{% for publication in recent_posted_pub%}
							<div class="card mb-3">
								<div class="row g-3">
									{% if not publication.image %}

									{%else%}
									<div class="col-4">
										<img class="rounded" src="{{publication.image.url}}" alt="">
									</div>

									<div class="col-8">
										<h6><a href="{% url 'publication_details' publication.slug%}"
												class="btn-link stretched-link text-reset fw-bold">{{publication.title|safe|truncatechars:100}}</a>
										</h6>
										<div class="small mt-1">{{publication.created_on|timesince}} ago</div>
									</div>
									{%endif%}
								</div>
							</div>
							{%endfor%}
						</div>
					</div>
					<div class="mt-4">
						<a href="#" class="d-block card-img-flash">
							<!-- <img src="" alt="ads" > -->
						</a>
					</div>
				</div>
			</div>
			<!-- Right sidebar END -->
		</div>
	</div>
</section>
<!-- =======================
Main END -->


</main>

<script>

	$(document).ready(function (event)
	{
		getcomment();
		$('#form').on('submit', function (e)
		{
			const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
			console.log('clicked')
			e.preventDefault();
			$.ajax({
				type: "POST",
				url: "{% url 'ajax_commenting' publication_detail.slug %}",
				data: {
					comment: $('#comment').val(),

					csrfmiddlewaretoken: csrftoken,
					dataType: "json",

				},
				success: function (data)
				{
					$('#output').html(data.msg) /* response message */
					if (data.msg === 'successfully')
					{
						resettext()
						getcomment();
					}
				},
				failure: function ()
				{

				}

			});


		});

		function showReplyform(){

		}



		// $('.comment-box button').click(function ()
		// {
		// 	console.log('hello')
		// 	event.preventDefault();
		// 	var comment_text = $('.comment-box textarea').val();
		// 	$.ajax({
		// 		type: 'POST',
		// 		url: "",
		// 		csrfmiddlewaretoken: csrftoken,
		// 		data: { comment: comment_text },
		// 		success: function (callback)
		// 		{
		// 			var data = $.parseJSON(callback);
		// 			$('.callback').html(data.result);
		// 			if (data.result === 'successfully')
		// 			{
		// 				getcomment();
		// 			}
		// 		}
		// 	})
		// });
	});


	function getcomment()
	{
		console.log('We can get  infor here')
		$.ajax({
			type: 'GET',
			url: "{% url 'get_comment' publication_detail.slug %}",
			success: function (call)
			{
				var data_set = $.parseJSON(call);
				$('.comment-list').html(data_set.comment);
				$('#comment_title').html(`${data_set.counter}` + ' ' + 'Comments' )
			}
		})
	}

	function resettext()
	{
		$('#comment').val('');
	}
</script>


{% endblock contents %}